<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 录音 噪音检测用到 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application>
        <activity
            android:name=".activity.DurationCalculationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.RandomNumberActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tzh.tools.activity.AreaConversionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WeightConversionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UnitConvertActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TodayEatWhatActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoanResultLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpeedTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpeedResultActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DataCountActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BirthdayLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BMILibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CurrencyLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VolumeConversionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoanLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoanCountLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoanRateLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RestrictionRulesLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TodayGasPriceLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TranslateLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebUtilLibActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GregorianToDataActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZipCodeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HeatConversionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FestivalAndSolarTermActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DateIntervalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoiseCheckLibActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanningInternetLibActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NetWorkLibActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PingLibActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TestSpeedLibActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FraudGuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChineseTraditionColorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PasswordGenerationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhysicsFormulaQueryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MathsFormulaQueryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MonetaryUnitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChemistryFormulaQueryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JokeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name="com.zlw.main.recorderlib.recorder.RecordService" />
    </application>

</manifest>